@import '../imports/login/login.scss';
@import '../imports/layout/sidebar.scss';
@import '../imports/layout/component/card.scss';
@import '../imports/layout/component/switch.scss';
body {
    font-family: 'Lato', sans-serif;
}

#__blaze-root {
    width: 100%;
    overflow: hidden;

    .app-wrapper {
        margin-top: 40px;
        margin-left: 240px;
        padding:10px;
    }

    @media screen and (max-width:900px) {
        .app-wrapper {
            margin-left: 0;
        }
    }
}