@import '../../variables.scss';

@media (min-width: $breakpoint-tablet) {
    .login-form {
        width: 320px;
    }
}

.login-form {
    margin: auto;
    padding: 100px 15px;  
    .login-logo {
        text-align: center;

        img {
            width: 100px;
        }
    }
}

.login-button {
    width: 100%;
    background: white;
    color: #1180ff;
}

.login-background {
    height: 100vh;
}

.login-screen {
    background: #1180ff;
    color: white;
}